<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Printify Product Creation</title>
      {% else %}
      
      {% endif %}
    </head>
    <body>
        
        {% block content %}{% endblock %}
    </body>
</html>
<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Printify Product Creation</title>
      {% else %}
      
      {% endif %}
    </head>
    <body>
        
        {% block content %}{% endblock %}
    </body>
</html>